<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Responsive Website</title>
    <!-- Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.scss">
    <!-- Script -->
    <script src="text.js" defer></script>
</head>

<body>
    <main id="main-content">

        <div id="top-image">
            <img src="https://picsum.photos/id/20/1500/500" alt="top image">
        </div>

        <nav class="topnav" id="myTopnav">
            <a href="#" class="active">Home</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <div class="dropdown">
                <a href="#">Dropdown</a>
                <div class="wrap">
                    <a href="#">Item&nbsp;1</a>
                    <a href="#">Item&nbsp;2</a>
                </div>

            </div>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>

        <div id="content">
            <div id="top-element">
                <h1>Simple Responsive Website <br> Met dropdown menu!</h1>
            </div>
            <div id="middle-element">
                <div class="middle-element-childs"></div>
                <div class="middle-element-childs"></div>
                <div class="middle-element-childs"></div>
            </div>
            <div id="middle-element-2">
                <div class="middle-element-2-childs"></div>
                <div class="middle-element-2-childs"></div>
            </div>
            <div id="bottom-element"></div>
        </div>

        <footer id="footer">
            <div class="footer-section" id="footer-left">
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
            <div class="footer-section" id="footer-middle">
                <ul>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                    <li>Lorem ipsum dolor</li>
                </ul>
            </div>
            <div class="footer-section" id="footer-middle-2">
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
            <div class="footer-section" id="footer-right">
                <p>&COPY;Malik Khadje</p>
            </div>
        </footer>

    </main>
</body>

</html>